.chatbar {
    --primary: #275EFE;
    --shadow: rgba(39, 94, 254, .2);
    width: 276px;
    position: relative;
    padding: 20px;
    border-radius: 42px;
    background: var(--primary);
    overflow: hidden;
    transform-origin: 42px 50%;
    box-shadow: 0 32px 48px -8px var(--shadow);
    .control {
        --rotate: 0deg;
        position: relative;
        transform-origin: 22px 22px;
        transition: transform .45s ease;
        transform: rotate(var(--rotate));
        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            cursor: pointer;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(#fff, .2);
            svg {
                width: 28px;
                height: 28px;
                display: block;
                color: #fff;
            }
        }
        .text,
        .list {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0 0 0 64px;
            transform-origin: 22px 50%;
        }
        .text {
            top: -6px;
            input {
                line-height: 24px;
                padding: 14px 22px;
                border: 0;
                border-radius: 26px;
                background: rgba(#fff, .2);
                display: block;
                color: #fff;
                font-size: 18px;
                outline: none;
                width: 100%;
                &::placeholder {
                    color: rgba(#fff, .4);
                    opacity: 1;
                }
            }
        }
        .list {
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            transform: rotate(135deg);
            li {
                --y: 0;
                transition: transform 1s ease;
                transform: translateY(var(--y));
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background: rgba(#fff, .2);
                    svg {
                        width: 20px;
                        height: 20px;
                        display: block;
                        color: #fff;
                        stroke-linecap: round;
                        stroke-width: 1.2;
                        stroke-linejoin: round;
                    }
                }
                &:nth-child(2) {
                    --y: 8px;
                }
                &:nth-child(3) {
                    --y: 16px;
                }
            }
        }
    }
    &.active {
        animation: top 1s ease-in-out forwards;
        .control {
            --rotate: -135deg;
            .list {
                li {
                    --y: 0;
                }
            }
        }
        &.default {
            animation: down 1s ease-in-out forwards;
            .control {
                --rotate: 0deg;
            }
        }
    }
}

@keyframes top {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50%,
    60% {
        transform: rotate(-6deg);
    }
    88% {
        transform: rotate(1deg);
    }
}

@keyframes down {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50%,
    60% {
        transform: rotate(6deg);
    }
    88% {
        transform: rotate(-1deg);
    }
}
